@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500&display=swap");

body {
  background-color: darkslategray;
  font-family: "Roboto", sans-serif;
}
.App {
  min-height: 100vh;
}
.card {
  margin-top: 125px;
}
img {
  margin-top: -80px;
}

.text-center {
  background: ghostwhite;
}

.card-text {
  padding: 10px;
}

.card-text__title {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.card-text__value {
  color: black;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

.card-icons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

/* .card-icons:hover {
  cursor: pointer;
} */

.icon {
  color: grey;
  transition: all 0.3s ease-out;
}

.icon:hover {
  cursor: pointer;
  color: darkslategray;
}
